<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="breadcrumbs">
    <a href="#">Home </a> > Frequently Asked Questions
  </div>
<h1>Find what you’re looking for?</h1>

<div class="row menu mx-0">
  <div class="col-lg-3 ">
    <a href="#">How to bid?</a>
    <a href="#">How to sell?</a>
  </div>
  <div class="col-lg-3 ">
    <a href="#">How to buy?</a>
    <a href="#">How to register?</a>
  </div>
  <div class="col-lg-3 ">
    <a href="#">How to ask a question?</a>
    <a href="#">What is a watchlist?</a>
  </div>
  <div class="col-lg-3 ">
    <a href="#">How to use a watchlist?</a>
  </div>
</div>
<div class="isearch">
  <a href="#">I SEARCH<span class="glyphicon">&#xe258;</span></a>
</div>

<div class="qa">
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>How to bid?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
  <hr>
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>How to sell?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
  <hr>
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>How to buy?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
  <hr>
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>How to register?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
  <hr>
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>How to ask a question?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
  <hr>
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>What is a watchlist?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
  <hr>
  <div class="row ">
    <div class="col-1 left">
      <h2>Q</h2>
      <h2>A</h2>
    </div>
    <div class="col-11 right">
      <h4>How to use a watchlist?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis <b>nostrud exercitation</b>  ullamco laboris nisi ut aliquip ex ea <span>commodo consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident</p>
    </div>

  </div>
</div>














</div>
