<div class="blueLine"></div>

<div class="navbar navbar-inverse navbar-fixed-top mobile" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
    <a href="#"> <img src="../assets/img/Logo.png" alt="logo" class="logo"> </a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav text-center">
      <li class="nav-item "><a href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">art</a></li>
      <li class="nav-item"><a class="nav-link" href="#">isearch</a></li>
      <li class="nav-item"><a class="nav-link" href="#">myauctions</a></li>
      <li class="nav-item"><a class="nav-link" href="#">mybids</a></li>
      <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Login</a></li>

    </ul>
  </div>
</div>

<div class="navigation">

  <div class="navbar-header">
    <div class="container">
      <a href="#"> <img src="../assets/img/Logo.png" alt="logo" class="logo"> </a>
    </div>

    <div class="row1">
      <div class="container " [ngClass]="{'login2': en}">
        <div  [ngClass]="{'login1': uno}"  >
          <div [ngClass]="{'logout': tre}">
            <div class="state1">
              <ul class="nav ">
                <li class="nav-item">
                  <a routerLink="/register">Register</a>
                </li>
                <li>|</li>
                <li class="nav-item">
                  <a href="#" (click)="login2()">Login</a>
                </li>
                <li class="right"><input type="text" placeholder="Search"><span><img src="./assets/img/Searchicon.png" alt="menu"></span> </li>
              </ul>
            </div>
            <div class="state2">
              <ul class="nav ">
                <li class="nav-item">
                  <a routerLink="/register">Register</a>
                </li>
                <li class="userlogin">
                  <input type="text" placeholder="User">
                  <input type="text" placeholder="Password">
                  <button type="button" name="button" (click)="logout()"><li class="glyphicon">&#xe258;</li></button>
                </li>

                <li class="right"><input type="text" placeholder="Search"><span><img src="./assets/img/Searchicon.png" alt="menu"></span> </li>
              </ul>
            </div>

            <div class="state3">
              <ul class="nav ">
                <li class="nav-item">
                  <a href="#"><span> <img src="./assets/img/menu.png" alt="menu"> </span> Watchlist</a>
                </li>
                <li>|</li>
                <li class="nav-item">
                  <a routerLink="/profile"><span ><img src="./assets/img/user.png" alt="menu" ></span> Profile</a>
                </li>
                <li>|</li>
                <li class="nav-item">
                  <a href="#" class="logout" (click)="login1()"> Logout</a>
                </li>
                <li class="right"><input type="text" placeholder="Search"><span><img src="./assets/img/Searchicon.png" alt="menu"></span> </li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>
    <div class="row2">
      <div class="container">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" routerLink="/">home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/overview">art</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/isearch">isearch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/auctions">myauctions</a></li>
          <li class="nav-item"><a class="nav-link" href="#">mybids</a></li>
          <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
          <li class="right">
            <span>NL</span>
            <span>FR</span>
            <span><b>EN</b></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
