$linkColor: #0a1e75;
$blueTop: #01a6a0;
$navGray: #eaeaea;
$noBlack: #4e4e4e;




.navbar-header{
	width: 100%;
	position: relative;
	z-index: 10;
}
.blueLine{
	background-color: $blueTop;
	width: 100%;
	height: 4px;
}
.navigation{
	.row1{

			background-color: white;
			a{
				color: $linkColor;

			}
			.nav-item a:hover{
				background-color:  white;
			}
	}
	.row2{
		background-color: $navGray;

		span{
			padding: 0px 8px;
			color: $linkColor;
		}
		a{
			font-weight: bold;
			color: $noBlack;
			padding: 10px;
			font-size: 15px;
		}
		.nav-item a:hover{
			background-color:  $navGray;
		}

	}
	.logo{
		height: 140px;
		position: absolute;
		top: -4px;
		left: 0;

		z-index: 10;
	}
	.right{
		position: absolute;
		right: 0;
		input{
			border-radius: 5px;
			border: 1px solid $navGray;
			padding-left: 20px;
			font-style: italic;
		}
	}
	span img{
		padding: 0 5px;
	}
	.nav{
		margin-left: 120px;
		font-size: 12px;
		text-transform: uppercase;
		padding: 17px 0;;
		a{
			padding: 0 16px;
		}
	}
}
.mobile{
	display: none;
	margin: 0;

	text-transform: uppercase;
	.logo{
		height: 50px;
	}
	button{
		border: transparent;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent ;
}

}
.navigation{
	display: block;
}


@media (max-width: 767px) {
	.mobile{
		display: block;
	}
	.navigation{
		display: none;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
