<div class="blueLine"></div>
<div class="navigation">
    <div class="navbar-header">
      <div class="container">
        <a  href="#"> <img src="../assets/img/Logo.png" alt="logo" class="logo">  </a>
      </div>
      <div class="row1">
        <div class="container">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#"><span> <img src="./assets/img/menu.png" alt="menu"> </span> Watchlist</a>
            </li>
            <li>|</li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span><img src="./assets/img/user.png" alt="menu"></span> Profile</a>
            </li>
            <li>|</li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          <li class="right"><input type="text"  placeholder="Search"><span><img src="./assets/img/Searchicon.png" alt="menu"></span> </li>
          </ul>
        </div>

      </div>
      <div class="row2">
        <div class="container">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">art</a></li>
            <li class="nav-item"><a class="nav-link" href="#">isearch</a></li>
            <li class="nav-item"><a class="nav-link" href="#">myauctions</a></li>
            <li class="nav-item"><a class="nav-link" href="#">mybids</a></li>
            <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
            <li class="right">
              <span>NL</span>
              <span>FR</span>
              <span><b>EN</b></span>
            </li>
          </ul>

        </div>


      </div>
    </div>


</div>
