<div class="container">
  <div class="row bigNav">
    <div class="col-sm-3">
      <h4>Help</h4>
      <p><a href="#">Login</a> </p>
      <p><a href="#">Register</a></p>
      <h4>Help</h4>
      <p><a href="#">Terms of Service</a></p>
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">FAQ</a></p>
      <p><a href="#">Contact Us</a></p>
      <p><a href="#">About Us</a></p>
      <h4>Languages</h4>
      <p><a href="#">Nederlands</a> </p>
      <p><a href="#">Français</a> </p>
      <p><a href="#">English</a> </p>
    </div>
    <div class="col-sm-3">
      <h4>Style</h4>
      <p><a href="#">Abstract</a></p>
      <p><a href="#">African American</a></p>
      <p><a href="#">Asian Contemporary</a></p>
      <p><a href="#">Conceptual</a></p>
      <p><a href="#">Contemporary</a></p>
      <p><a href="#">Emerging Artists</a></p>
      <p><a href="#">Figurative</a></p>
      <p><a href="#">Middle Eastern Contemporary</a></p>
      <p><a href="#">Minimalism</a></p>
      <p><a href="#">Modern</a></p>
      <p><a href="#">Pop</a></p>
      <p><a href="#">Urban</a></p>
      <p><a href="#">Vintage Photographs</a></p>
      <h4>Style</h4>
      <p><a href="#">Design</a> </p>
      <p><a href="#">Paintings and Works on Paper</a> </p>
      <p><a href="#">Photographs</a> </p>
      <p><a href="#">Prints and Multiples</a> </p>
      <p><a href="#">Sculpture</a> </p>
    </div>
    <div class="col-sm-3">
      <h4>Price</h4>
      <p><a href="#">Up to 5,000</a> </p>
      <p><a href="#">5,000–10,000</a> </p>
      <p><a href="#">10,000–25,000</a> </p>
      <p><a href="#">25,000–50,000</a> </p>
      <p><a href="#">50,000–100,000</a> </p>
      <p><a href="#">Above</a> </p>
      <h4>Era</h4>
      <p><a href="#">Pre-War</a> </p>
      <p><a href="#">1940s–1950s</a> </p>
      <p><a href="#">1960s–1980s</a> </p>
      <p><a href="#">1990s–Present</a> </p>
      <h4>Endings</h4>
      <p><a href="#">Ending this Week</a> </p>
      <p><a href="#">Newly Listed</a> </p>
      <p><a href="#">Purchase Now</a> </p>
      <p><a href="#">1990s–Present</a> </p>
    </div>
    <div class="col-sm-3">
      <div class="contact">
        <h4>Find what you need</h4>
        <input type="text" placeholder="Search"><span><img src="./assets/img/Searchicon.png" alt="menu"></span>
        <h4>Contact</h4>
        <p>Landoretti ART</p>
        <p>Straatnaam xxx</p>
        <p>xxxx, Oostende</p>
        <h4></h4>
        <p><img src="./assets/img/phone.png" alt="phone">+xx (0)x xxx xx xx</p>
        <p><img src="./assets/img/mail.png" alt="email"><a href="#">info@landorettiart.com</a> </p>
        <div class="social">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
  <p class="rights">© 2013 Studio6, Inc. All rights reserved.</p>
</div>

<footer>

  <div class="navbar-footer">
    <div class="row2">
      <div class="container">

        <a href="#"> <img src="../assets/img/LogoF.png" alt="logo" class="logo"> </a>
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="#">home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">art</a></li>
          <li class="nav-item"><a class="nav-link" href="#">isearch</a></li>
          <li class="nav-item"><a class="nav-link" href="#">myauctions</a></li>
          <li class="nav-item"><a class="nav-link" href="#">mybids</a></li>
          <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
          <li class="right">
            <span>NL</span>
            <span>FR</span>
            <span><b>EN</b></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="blueLine"> </div>
  </div>
</footer>
