<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="breadcrumbs">
    <a href="#">Home </a> > <a href="#">Jasper Poppe </a> > My auctions
  </div>
<h1>My auctions</h1>
<div class="row">
  <div class=" col-xs-2 col-xs-offset-10 addnew">
    <a href="#">ADD NEW AUCTION <span class="glyphicon">&#xe258;</span></a>
  </div>
</div>

<h3>Pending</h3>
<table>
  <tr>
    <th>Auction details</th>
    <th>Estimated price</th>
    <th>End date</th>
    <th>Remaining time</th>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro5.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >25d 14u 44m</p></td>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro6.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >25d 14u 44m</p></td>
  </tr>
</table>
<h3>Refused</h3>

<table>
  <tr>
    <th>Auction details</th>
    <th>Estimated price</th>
    <th>End date</th>
    <th>Remaining time</th>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro9.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >x</p></td>
  </tr>
</table>
<h3>Active</h3>
<p>You currently have no active auctions. Please add a new auction or wait for approval</p>
<h3>Expired</h3>
<table>
  <tr>
    <th>Auction details</th>
    <th>Estimated price</th>
    <th>End date</th>
    <th>Remaining time</th>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro4.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >x</p></td>
  </tr>
</table>
<h3>Sold</h3>
<table>
  <tr>
    <th>Auction details</th>
    <th>Estimated price</th>
    <th>End date</th>
    <th>Remaining time</th>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro2.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >sold</p></td>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro3.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >sold</p></td>
  </tr>
  <tr>
    <td>
      <img src="assets/img/pro1.png" alt="Dance of Time III">
      <div class="danceOfTime">
        <h4 class="m-0" >Dance of Time III</h4>
        <span>1979, Salvador Dali</span>
      </div>

    </td>
    <td><h4 >€ 8.900</h4></td>
    <td><p>September 09, 2013 13:00 p.m.(EST)</p></td>
    <td><p >sold</p></td>
  </tr>
</table>






</div>
