<div class="isearch">
  <div class="head">
    <div class="container">
      <div class="text">
        <div class="ball"></div>
        <h1>Lorum Ipsum</h1>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
        <h5>Price: € 299,99</h5>

      </div>
      <div class="visit">
        <a href="#">
          <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
        </a>
      </div>
    </div>
  </div>
</div>
