<div class="isearch">
  <div class="head">
    <div class="container">
      <div class="text">
        <div class="ball"></div>
        <h1>Lorem Ipsum</h1>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
        <h5>Price: € 299,99</h5>

      </div>
      <div class="visit">
        <a href="#">
          <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
        </a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="breadcrumbs">
        <p><a href="#">Home</a> > I search</p>
      </div>
      <h1>I search</h1>
      <h2>Add a request</h2>
      <form>
        <div class="row">
          <div class="form-group col-sm">
            <label>What are you looking for?</label>
            <input type="text" class="form-control" placeholder="Mona Lisa">
          </div>
          <div class="form-group col-sm">
            <label>Artist</label>
            <input type="text" class="form-control" placeholder="Leonardo Da Vinci">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-9">
            <label>Information about the artwork</label>
            <input type="text" class="form-control" placeholder="Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore">
          </div>
          <div class="form-group col-sm-3">
            <a href="#" class="admit">Admit request</a>
          </div>
        </div>
        <p class="info">Your request must be approved by the administrator. If your question has been approved, it will appear on our site.</p>

      </form>


      <div class="overview ">
        <div class="row">
          <div class=" col-sm-6">

            <h2>Overview</h2>
          </div>
          <div class=" col-sm-6">
            <nav aria-label=" navigation ">
              <ul class="pagination pull-right ">
                <li class="page-item"><a class="page-link" href="#"><</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="row hov ">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3 ">
            <a href="#" class="button"><b>I own this artwork</b><span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class="row hov">
          <div class=" col-sm-9">
            <p><b>Search:</b> Mona Lisa, Leonardo Da Vinci</p>
            <p><b>Description:</b> Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p><b>Posted:</b> 5 July 2013</p>
          </div>
          <div class=" col-sm-3">
            <a href="#" class="button"><b>I own this artwork</b> <span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
        <div class=" col-12">
          <nav aria-label=" navigation ">
            <ul class="pagination pull-right ">
              <li class="page-item"><a class="page-link" href="#"><</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">></a></li>
            </ul>
          </nav>
        </div>
      </div>


    </div>
  </div>
</div>
