<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="filter">
    <div class="filterheader">
      <b>  SORT BY: </b> <a href="#">ending soonest</a>  | <a href="#">ending latest</a>  | <a href="#">new auctions</a>  | <a href="#">popular auctions</a>
      <div class="right">
        Advanced Options <span class="glyphicon">&#xe259;</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <b>Price</b>
        <p>Up to 5,000</p>
        <p>5,000–10,000</p>
        <p>10,000–25,000</p>
        <p>25,000–50,000</p>
        <p>50,000–100,000</p>
        <p>Above</p>

        <b>Ending</b>
        <p>Ending this Week</p>
        <p>Newly Listed</p>
        <p>Purchase Now</p>
      </div>
      <div class="col-sm-3">
        <b>Era</b>
        <p>Pre-War</p>
        <p>1940s–1950s</p>
        <p>1960s–1980s</p>
        <p>1990s–Present</p>
        <b>Media</b>
        <p>Design</p>
        <p>Paintings and Works on Paper</p>
        <p>Photographs</p>
        <p>Prints and Multiples</p>
        <p>Sculpture</p>
      </div>
      <div class="col-sm-3">
        <b>Style</b>
        <p>Abstract</p>
        <p>African American</p>
        <p>Asian Contemporary</p>
        <p>Conceptual</p>
        <p>Contemporary</p>
        <p>Emerging Artists</p>
        <p>Figurative</p>
        <p>Middle Eastern Contemporary</p>
        <p>Minimalism</p>
        <p>Modern</p>
        <p>Pop</p>
        <p>Urban</p>
        <p>Vintage Photographs</p>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<div class="container">
  <div class="breadcrumbs">
    <a href="#">Home </a> > Aucitions
  </div>

  <nav aria-label=" navigation ">
    <ul class="pagination pull-right ">
      <li class="page-item"><a class="page-link" href="#"><</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#"><b>3</b></a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">></a></li>
    </ul>
  </nav>
<div class="row main">
    <div class="col-lg-6 art1 ">
      <div class="lorem  position-absolute fixed-bottom">
        <h1>“Lorem ipsum dolor”</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, rem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, rem ipsum dolor sit amet, consectetur adipisicing elit, </p>
      </div>


    </div>


    <div class="col-lg-6 pl-2">
      <div class="row">
        <div class="col-sm-6 pr-1">
          <a href="#"><div class="art2"></div></a>
          <div class="info px-4">
            <p>1979, Salvador Dali</p>
            <h3>Dance of Time III</h3>
            <h5>€ 8.900</h5>
            <div class="artfooter row">
              <div class="col-md-6">
                <p> 25d 14u 44m</p>
              </div>
              <div class="col-md-6 vis">
                <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6  px-1">
          <a href="#"><div class="art3"></div></a>
          <div class="info px-4">
            <p>1979, Salvador Dali</p>
            <h3>Dance of Time III</h3>
            <h5>€ 8.900</h5>
            <div class="artfooter row">
              <div class="col-md-6">
                <p> 25d 14u 44m</p>
              </div>
              <div class="col-md-6 vis">
                <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pr-1">
          <a href="#"><div class="art4"></div></a>
          <div class="info px-4">
            <p>1979, Salvador Dali</p>
            <h3>Dance of Time III</h3>
            <h5>€ 8.900</h5>
            <div class="artfooter row">
              <div class="col-md-6">
                <p> 25d 14u 44m</p>
              </div>
              <div class="col-md-6 vis">
                <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 px-1">
          <a href="#"><div class="art5"></div></a>
          <div class="info px-4">
            <p>1979, Salvador Dali</p>
            <h3>Dance of Time III</h3>
            <h5>€ 8.900</h5>
            <div class="artfooter row">
              <div class="col-md-6">
                <p> 25d 14u 44m</p>
              </div>
              <div class="col-md-6 vis">
                <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art6"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art6"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art6"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art6"></div></a> 
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-12">
        <nav aria-label=" navigation ">
          <ul class="pagination pull-right ">
            <li class="page-item"><a class="page-link" href="#"><</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">></a></li>
          </ul>
        </nav>
      </div>
</div>

</div>
