$textColor: rgba(1,32,166,0.65);
$textColorfull: rgba(1,32,166,1);
$blueTop: #01a6a0;
$linkColor: #0a1e75;
$navGray: #eaeaea;
$lightgray: #f3f3f3;
$lighterdarkgray: #f5f5f5;
$grayTitle: #545353;
$darkgray: #757575;
$white: white;
$black: black;
$graylast: #e5e5e5;

.head {
  margin-top: 70px;
  background-image: url("../../assets/img/mockup2.png");
  height: 432px;
  width: 100%;
  background-position: center;
  background-size: cover;
  transform: scaleX(-1);
}

.text {
  position: relative;
  top: 50px;
  height: 252px;
  width: 312px;
  color: white;
  font-size: 9pt;
  transform: scaleX(-1);
  background-color: $textColor;

  h1 {
    border-bottom: 1px solid $lightgray;
    padding: 30px 0 10px 30px;

  }

  p {
    padding: 30px;
  }

  h5 {
    padding-left: 30px;
  }

  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: $blueTop;
  }
}
.visit {
  transform: scaleX(-1);
  width: 312px;
  margin-top: 50px;
  background-color: white;

  h1 {
    padding: 30px;
    text-transform: uppercase;

      font-size: 16px;
  }
  a {
    color: $blueTop;
  }
}
.filter{
  .filterheader{
    padding: 30px 0;
    a{
      color: black;
      padding-bottom: 3px;
      text-decoration: none;
    }
    a:nth-child(4) {
      border-bottom: 2px solid $navGray;
      font-weight: bold;
    }
    .right{
      position: absolute;
      right: 15px;
      top: 30px;
      color: $textColorfull;
      font-size: 15px;

      &:hover{cursor: pointer; }
      li{
        background-color: $graylast;
        color: $white;
        padding: 5px;
        font-size: 10px;
        border-radius: 50%;
        transition: all 0.5s ease;
      }
    }
  }
  .row{
    display: none;
    p{
        cursor: pointer;
        margin: 0;
        margin-left: 10px;
        &:hover{
          color: $textColorfull;
        }
    }
    b{
      padding-top: 10px;
      display: block;
    }
  }

}
.animated-button{
  .row{
    display: block;
  }
  li{

transition: all 1s ease;
    transition: rotate(90deg);
    -webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
     -o-transform:rotate(90deg);
        transform:rotate(90deg);
  }
}
.breadcrumbs {
  margin-top: 20px;
  color: $blueTop;

  a {
    color: $blueTop;
  }
}
.pagination {
  padding-left: 0;
  border-radius: 0;
  display: inline;
  margin-top: 0;
}
.pagination>li>a,
.pagination>li>span {
  padding: 0 2px;
  border: 1px solid transparent;
}
.pull-right{
  top: 5px;
  position: absolute;
  right: 15px;
}
.main{
  margin-top: 50px;

  .art1{
    background-image: url("../../assets/img/uno.png");
    height: 800px;
    background-size: cover;
    background-position: 25% 50%;

    .lorem{
      margin: 50px;
      h1{
        font-size: 30px;
        margin-bottom: 20px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  .vis{
    background-color: $lighterdarkgray;
    border: 1px solid $graylast;
    padding: 12px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    a{
      color: $textColorfull;
      text-decoration: none;
    }

  }
  @mixin art($img){
    height: 250px;
    background-image: url($img) ;
    background-size: cover;
    background-position: center;
    transition: filter .25s ease-in-out;
    &:hover{
      background-image:  url("../../assets/img/search.png"),url($img);
      background-size: 25%,cover;
      background-repeat: no-repeat;
      filter: opacity(50%);
    }
  }
  .art2{ @include art("../../assets/img/pro2.png");}
  .art3{ @include art("../../assets/img/pro6.png");}
  .art4{ @include art("../../assets/img/pro9.png");}
  .art5{ @include art("../../assets/img/pro4.png");}
  .art6{ @include art("../../assets/img/pro3.png");}
  .art7{ @include art("../../assets/img/pro7.png");}
  .art8{ @include art("../../assets/img/pro1.png");}
  .art9{ @include art("../../assets/img/pro5.png");}
  .info{
    height: 115px;
    width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
    p{margin: 0; color: $textColorfull;}
    .artfooter{
      border-bottom: 1px solid $graylast;
      p{
        padding-top: 11px;
        color: $black;
      }
    }
  }

}















@media (max-width: 767px) {
  .head {
    margin-top: 0;
  }

  .container {
    width: 100%;
  }
}
