<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="breadcrumbs">
    <a href="#">Home </a> > <a href="#">Auctions </a> > <a href="#">Salvador Dali </a> >  Dance of Time III
    <span class="pull-right">  Lot ID: 84611</span>
  </div>
<div class="title">
  <h1>Dance of Time III</h1>
  <p>25d 14u 44m  <a href="" >(7 bids)</a><span> <img src="./assets/img/menu.png" alt="menu" class="menu"> </span> </p>

</div>
<!-- main slider carousel -->
    <div class="row">
        <div class="col-lg-9">
          <div id="carousel-custom" class="carousel " data-interval="false" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="assets/img/camera.png" alt="camera1" class="img-responsive">
              </div>
              <div class="item">
                <img src="assets/img/camera02.png" alt="camera2" class="img-responsive">
              </div>
              <div class="item">
                <img src="assets/img/camera03.png" alt="camera3" class="img-responsive">
              </div>
            </div>
            <ol class="carousel-indicators ">
              <li data-target="#carousel-custom" data-slide-to="0" class="active">
                <img src="assets/img/camera1.png" alt="camera1" class="img-responsive  ">
              </li>
              <li data-target="#carousel-custom" data-slide-to="1">
                <img src="assets/img/camera2.png" alt="camera2" class="img-responsive ">
              </li>
              <li data-target="#carousel-custom" data-slide-to="2">
                <img src="assets/img/camera3.png" alt="camera3" class="img-responsive ">
              </li>
            </ol>
          </div>
        </div>
        <div class="col-lg-3 side text-lg-right   ">

          <h1>Dance of Time III </h1>
          <p>1979, Salvador Dali</p>
          <hr>
          <p>25d 14u 44m left</p>
          <p>September 09, 2013, 13:00 p.m. (EST)</p>
          <hr>
          <p>
            tur adipisicing elit, sed do eiusmod tempor incididunt ut labaliqore et dolore magna incididunt ut labaliqore et dolore magna..
            <br><b class="pull-right"> more</b>
          </p>
          <div class="price pull-bottom">
            <div class="wrapper ">
              <h4>Estimated price:</h4>
              <h2>€ 9.500 - € 10.500</h2>
              <h6>Buy now for € 15.000</h6>
              <p>bids:7</p>
            </div>

            <div class="bidnow">
              <div class="row">
                <div class="col-6">
                    <input type="text" name="" value="8.750,02" >
                </div>
                <div class="col-6 bid">
                  Bid now <li class="glyphicon">&#xe258;</li>
                </div>
              </div>
            </div>
            <div class=" bottomdiv text-center p-3" >
              <h4><img src="./assets/img/menu.png" alt="menu" > <ins><b>add to my watchlist</b> </ins></h4>
            </div>
          </div>
        </div>
    </div>

<div class="about">
  <div class="row">
    <div class="col-lg-9">
      <p><b>Description</b></p>
      <p>"Dance of Time III" (1979-84) is a stunning bronze and gold patina sculpture<br>
      by Spanish Contemporary artist Salvador Dalí (Spain, 1904 - 1989), measures 10.43 inches (26.50 cm) and is stamped and numbered from an edition of 350. This sculpture is in perfect condition and is accompanied by documentation of authenticity. As one of the most well known and iconic images seen in Dali’s work, the melted watch has appeared consistently throughout the artist’s oeuvre. As time universally knows no limits, it is perceived as something perpetual- ‘dancing on’ and stopping for no one as exemplified in this ‘Dance of Time III’ sculpture. Meant to echo the fluidity of time, the undulated form of this melted clock captures the surrealistic imagery so beloved and continuously employed by Dali.
      </p>
      <p><b>Condition</b> </p>
        Lorem ipsum dolor sit amet, nec dictum, consectetuer donec tincidunt eget ante libero gravida. Wisi nec nulla, lorem suspendisse lorem id tellus eget, erat tellus, enim at. A purus libero amet vitae accumsan scelerisque, quis orci sed ornare pulvinar, luctus mauris turpis mollis ut vel eget, id massa non cursus felis. Sed et mus non non augue tortor. Pede id massa, ante rhoncus et at ad, fringilla vulputate dapibus nunc, iaculis sollicitudin accumsan non, hac vehicula hymenaeos. Felis aliquet donec vitae. Autem ante, sollicitudin feugiat amet viverra quae risus, dui dis semper ac non, mi curabitur amet. Bibendum nunc fusce aliquam ante tempus, imperdiet magna.


    </div>
    <div class="col-lg-3 descrition">
      <p class="m-0"><b>Artist</b></p>
      <p>
        Salvador Dali<br>

        Spanish<br>
        1904 - 1989
      </p>
      <p class="m-0"><b>Dimensions</b> </p>
      <p>
        10.43 x 10.43 x 10.44 cm
      </p>
      <p class="m-0"><b>Color</b> </p>
      <p>
        Bronze, patinated bronze and gold
      </p>

      <a href="#">Ask a question<br> about this auction</a>
    </div>
  </div>
</div>
</div>
<div class="related">
  <div class="container">
    <h1>Related items</h1>
    <div class="row">
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art6"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art7"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art8"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 px-1">
        <a href="#"><div class="art9"></div></a>
        <div class="info px-4">
          <p>1979, Salvador Dali</p>
          <h3>Dance of Time III</h3>
          <h5>€ 8.900</h5>
          <div class="artfooter row">
            <div class="col-md-6">
              <p> 25d 14u 44m</p>
            </div>
            <div class="col-md-6 vis">
              <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
