<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="breadcrumbs">
      <p><a href="#">Home</a> > Jesper Poppe</p>
    </div>
    <h1>Profile</h1>

    <div class="contact">
      <h2>Jasper Poppe</h2>
      <div class="row">
        <div class="col-sm-3 ad">
          <p class="m-0"><img src="./assets/img/mail.png" alt="email"> <a href="#">info@landorettiart.com</a> </p>
          <p class="mb-4"><img src="./assets/img/phone.png" alt="phone">+xx (0)x xxx xx xx</p>
          <p class="m-0">Straatnaam xxx</p>
          <p>xxxx, Oostende</p>
        </div>
        <div class="col-sm-9 nrs pl-sm-5">
          <h5>VAT-number</h5>
          <p class="pl-sm-3">xx xxx xx xx</p>
          <h5>Account number</h5>
          <p class="pl-sm-3">xx xxx xx xx</p>
        </div>
      </div>
    </div>
    <div class="active">
      <h2>Active auctions</h2>





      <div class="carouselPhoto">
        <div id="myCarousel" class="carousel slide" data-interval="false" >

          <div class="carousel-inner">
            <div class="item active">
              <div class="art px-1">
                <a href="#"><div class="art3"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="art  px-1">
                <a href="#"><div class="art8"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="art  px-1">
                <a href="#"><div class="art2"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="art px-1">
                <a href="#"><div class="art6"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item  ">
              <div class="art px-1">
                <a href="#"><div class="art1"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="art  px-1">
                <a href="#"><div class="art4"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="art  px-1">
                <a href="#"><div class="art5"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="art px-1">
                <a href="#"><div class="art7"></div></a>
                <div class="info px-4">
                  <p>1979, Salvador Dali</p>
                  <h3>Dance of Time III</h3>
                  <h5>€ 8.900</h5>
                  <div class="artfooter row">
                    <div class="col-md-6">
                      <p> 25d 14u 44m</p>
                    </div>
                    <div class="col-md-6 vis">
                      <a href="#">VISIT AUCTION <span class="glyphicon">&#xe258;</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <a class="" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon glyphicon-menu-left"></span>
            <span class="sr-only prev-next">Previous</span>
          </a>
          <a class="" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-menu-right"></span>
            <span class="sr-only prev-next">Next</span>
          </a>
        </div>
      </div>


    </div>


  </div>
</div>
