$textColor: rgba(1,32,166,0.65);
$blueTop: #01a6a0;
$linkColor: #0a1e75;
$navGray: #eaeaea;
$lightgray: #f3f3f3;
$babyblue: #51bed1;

  .text{
    position: absolute;
    z-index: 5;
    bottom: 100px;
    color: white;
    padding: 2em 4em;
    font-size: 9pt;
    background-color: $textColor;
    .ball{
      position: absolute;
      width: 20px;
      height: 20px;
      top: -10px;
      left: -10px;
      border-radius: 50%;
      border: 4px solid white;
      background-color: $blueTop;
    }
  }
  .carouselPhoto{
    background-color: black;
    .carousel{
        max-width: 1500px;
        margin: 0 auto;
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
          height: 100vh;
          img{
            display: block;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
          }
          .text{
            width: 90;
          }
        }



    }
  }
.carousel-indicators {
  position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
.carousel-inner{
  height: 850px;
  background-size: cover;
}
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 0.4px solid #fff;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
  }
  .active {
    background-color: #fff;
  }

}
.glyphicon-menu-left, .glyphicon-menu-right{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    width: 40px;
    height: 70px;
    font-size: 40px;
    padding-top: 15px;
    font-weight: lighter;
}
.glyphicon-menu-left{
  left: 0;
}
.glyphicon-menu-right{
  right: 0;
}

h1{
  color: $linkColor;
  font-family: Helvetica;
  text-align: center;
  padding: 50px;
  font-size: 20pt;
}

.works{
  margin-bottom: 50px;

  img{
    display: block;
    margin: 0 auto;
  }
  h3{
    text-align: center;
    padding: 30px 0 10px 0;
  }
  p{
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
}
.popular{
  transition: all 1s ease;
  background-color: $lightgray;
  height: 640px;
  padding-bottom: 100px;
  span img{
    transition: all 1s ease;
    transform: rotate(0deg) scale(0.8);
  }
  .row img{
    transition: all 1s ease;
    width: 100%;
  }
  .lorem{display: none;}

}
.animated-button{
  position: relative;
  z-index: 10;
  h1{
    color: white;
  }
  transition: all 1s ease;

  background: radial-gradient(200px at center, white, $babyblue);
  color: white;
    span img{
      transition: all 1s ease;
          transition: rotate(-90deg)scale(0.8);
          -webkit-transform:rotate(-90deg)scale(0.8);
         -moz-transform:rotate(-90deg)scale(0.8);
          -ms-transform:rotate(-90deg)scale(0.8);
           -o-transform:rotate(-90deg)scale(0.8);
              transform:rotate(-90deg)scale(0.8);

    }
    .row{
        position: absolute;
        z-index: 10;
      img{
        transition: all 1s ease;
        filter: grayscale(100%);
      }
    }
  .time{
    transition: all 1s ease;
    transform:scaleX(0.6) scaleY(0.7) translateX(-50%);
    border: 12px solid white;
    box-shadow: 1px 5px 50px black;
  }
  .woman{

    transition: all 1s ease;
    transform:scaleX(0.8) translateX(220%) translateY(50%);
    border: 8px solid white;
    padding:0 !important;

  }
  .stapms{
    transition:  1s ease;
    transform:scaleX(0.8) translateX(0%) translateY(-50%);
    border: 8px solid white;
    padding:0 !important;
  }
  .lorem{
    background: linear-gradient(to right,  $babyblue, #4ed1e8 ,  $babyblue);
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    height: 1px;
    height: 240px;

    bottom: 0;
    p{
      margin-top: 100px;
    }
  }
}
