<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="breadcrumbs">
    <a href="#">Home </a> > <a href="#">Aucitions </a> > <a href="#">SAlvador Dai </a> >  Dance of Time III
  </div>
  <h1>Register</h1>
  <div class="error" >
    <li *ngIf="form.hasError('name')" class="alert alert-danger">
     {{form.getError('name')}}
   </li>
    <li *ngIf="form.hasError('email')" class="alert alert-danger">
     {{form.getError('email')}}
    </li>
    <li *ngIf="form.hasError('password')" class="alert alert-danger">
     {{form.getError('password')}}
    </li>
    <li *ngIf="form.hasError('repassword')" class="alert alert-danger">
      {{form.getError('repassword')}}
    </li>
    <li *ngIf="form.hasError('zip')" class="alert alert-danger">{{form.getError('zip')}}</li>
    <li *ngIf="form.hasError('city')" class="alert alert-danger">{{form.getError('city')}}</li>
    <li *ngIf="form.hasError('adress')" class="alert alert-danger">{{form.getError('adress')}}</li>
    <li *ngIf="form.hasError('phone')" class="alert alert-danger">{{form.getError('phone')}}</li>
    <li *ngIf="form.hasError('account')" class="alert alert-danger">{{form.getError('account')}}</li>
    <li *ngIf="form.hasError('vat')" class="alert alert-danger">{{form.getError('vat')}}</li>
    <li *ngIf="form.hasError('payment')" class="alert alert-danger">{{form.getError('payment')}}</li>
  </div>

    <form [formGroup]="form.getForm()" (ngSubmit)="save()">
      <div class="row">

          <div class="form-group col-lg-6">
            <label>Company or name</label>
            <div class="errors" *ngIf="form.hasError('name')"></div>
            <input type="text" class="form-control" formControlName="name"  >
          </div>

        <div class="form-group col-lg-6">
          <label>Email</label>
          <div class="errors" *ngIf="form.hasError('email')"></div>
          <input type="text" class="form-control" formControlName="email"   >
        </div>

        <div class="form-group col-lg-6">
          <label>Password</label>
          <div class="errors" *ngIf="form.hasError('password')"></div>
          <input type="password" class="form-control" formControlName="password"  >
        </div>

        <div class="form-group col-lg-6">
          <label>Password confirmation</label>
          <div class="errors" *ngIf="form.hasError('repassword')"></div>
          <input type="password" class="form-control" formControlName="repassword"   >
        </div>

        <div class="form-group col-lg-6">
          <label for="sel1">Select list:</label>
          <select class="form-control "  id="sel1">
            <option>Belgium</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>

        <div class="form-group col-lg-3">
          <label>Zip Code</label>
          <div class="errors" *ngIf="form.hasError('zip')"></div>
          <input type="text" class="form-control" formControlName="zip"   >
        </div>

        <div class="form-group col-lg-3">
          <label>City</label>
          <div class="errors" *ngIf="form.hasError('city')"></div>
          <input type="text" class="form-control" formControlName="city"   >
        </div>

        <div class="form-group col-lg-6">
          <label>Adress</label>
          <div class="errors" *ngIf="form.hasError('adress')"></div>
          <input type="text" class="form-control" formControlName="adress"   >
        </div>


        <div class="form-group col-lg-6">
          <label>Phone Number</label>
          <div class="row ">
            <div class="form-group col-xs-2 pr-1">
              <input type="text" class="form-control" placeholder="+ 32"   >
            </div>

            <div class="form-group col-xs-10 ">
              <div class="errors" *ngIf="form.hasError('phone')"></div>
              <input name="telNo" type="tel" required class="form-control" formControlName="phone" >
            </div>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <label>Account number</label>
          <div class="errors" *ngIf="form.hasError('account')"></div>
          <input type="text" class="form-control"  formControlName="account"   >
        </div>

        <div class="form-group col-lg-6">
          <label>VAT-number</label>
          <div class="errors" *ngIf="form.hasError('vat')"></div>
          <input type="text" class="form-control"  formControlName="vat"   >
        </div>

        <div class="form-group col-lg-12">
          <label>Alternative payment methods</label>
          <div class="errors" *ngIf="form.hasError('payment')"></div>
          <input type="text" class="form-control" formControlName="payment"   >
        </div>
      </div>





      <div class="control-group">
        <label class="control control-checkbox">
            <p>I Agree to <span>The Terms & Conditions</span> </p>
                <input type="checkbox" />
            <div class="control_indicator"></div>
        </label>
      </div>


      <button type="submit">REGISTER</button>
    </form>
</div>
