<div class="head">
  <div class="container">
    <div class="text">
      <div class="ball"></div>
      <h1>Lorem Ipsum</h1>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. magnis dis parturient montes, nascetur ridiculus mus...</p>
      <h5>Price: € 299,99</h5>

    </div>
    <div class="visit">
      <a href="#">
        <h1>Visit Auction <span class="glyphicon glyphicon-menu-right"></span></h1>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="breadcrumbs">
    <a href="#">Home </a> > <a href="#">Aucitions </a> > <a href="#">SAlvador Dai </a> >  Dance of Time III
  </div>
  <h1>Register</h1>
  <div class="error" >
    <li *ngIf="form.hasError('name')" class="alert alert-danger">
     {{form.getError('name')}}
   </li>
    <li *ngIf="form.hasError('email')" class="alert alert-danger">
     {{form.getError('email')}}
    </li>
    <li *ngIf="form.hasError('password')" class="alert alert-danger">
     {{form.getError('password')}}
    </li>
    <li *ngIf="form.hasError('repassword')" class="alert alert-danger">
      {{form.getError('repassword')}}
    </li>
  </div>

    <form [formGroup]="form.getForm()" (ngSubmit)="save()">
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name"  >
        </div>

        <div class="form-group col-lg-6">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>

        <div class="form-group col-lg-6">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-group col-lg-6">
          <label>RE-Password</label>
          <input type="repassword" class="form-control" formControlName="repassword">

        </div>


      </div>
      <button type="submit">Sign in</button>
    </form>
</div>
